<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password recovery</title>
</head>
<body>
    <input type="text" placeholder="Phone number" id="phone_number"/>
    <button id="send_recovery_code_btn">Send recovery code</button>
    <div class="recovery_code_block hidden" id="recovery_code_block">
        <input type="password" placeholder="Recovery code" id="recovery_code"/>
        <button id="confirm_recovery_code_btn">Confirm recovery code</button>
    </div>

    <div class="recover_password_block hidden" id="recover_password_block">
        <input type="password" placeholder="New password" id="new_password">
        <input type="password" placeholder="New password" id="new_password_confirm">
        <button id="change_password_btn">Change password</button>
    </div>
    <script>
        document.getElementById("send_recovery_code_btn").addEventListener("click", () => {
            var phoneNumber = document.getElementById("phone_number").value
            if (phoneNumber !== "") {
                fetch("/auth/send-OTP", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({phone_number: phoneNumber}) // тут ты можешь включить необходимые данные пользователя
                }).then((res) => {
                    if (res.status === 200) {
                        document.getElementById("recovery_code_block").classList.remove("hidden")
                        return res.json()
                    } else {
                        alert("Incorrect data!")
                    }
                }).then((data) => {
                    const recoveryCode = data.recovery_code
                    document.getElementById("confirm_recovery_code_btn").addEventListener("click", () => {
                        if (document.getElementById("recovery_code").value === recoveryCode) {
                            document.getElementById("recover_password_block").classList.remove("hidden")
                            document.getElementById("change_password_btn").addEventListener("click", () => {
                                var newPwd = document.getElementById("new_password").value
                                var newPwdConfirm = document.getElementById("new_password_confirm").value
                                if (newPwd !== "" && newPwdConfirm !== "") {
                                    if (newPwd === newPwdConfirm) {
                                        fetch("/auth/set-new-password", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json"
                                            },
                                            body: JSON.stringify({phone_number: phoneNumber, password: newPwd})
                                        }).then((res) => {
                                            if (res.status === 200) {
                                                alert("Password changed status - success")
                                            } else {
                                                alert("Error")
                                            }
                                        })
                                    } else {
                                        alert("Passwords don't match!")
                                    }
                                }
                            })

                        } else {
                            alert("You have to type recovery code first")
                        }
                    })
                })
            } else {
                alert("Input phone number first")
            }
        })
    </script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</body>
</html>